
{% extends "ADMINUpsetting.html" %}
<body>
    {% block content %}

    <div class="container">
        <div class="row justify-content-center">


<div class="col-6 ">
  
        <ul>
            {% if subjects %}
                {% for subject in subjects %}

                    <div class="container bg-light border my-4 rounded-3 shadow-sm p-3">

                        <div class="row">
                    
                            <div class="col">

                                <h3 class="text-center">{{ subject.Name }}</h3>
                                <p class="text-center">{{ subject.Description }}</p>

                                {% for chapter in chapters %}
                                    {% if subject.Id==chapter.Subject_id %}
                                        <h4>{{ chapter.Name }}</h4>
                                        <p>{{ chapter.Description }}</p>

                                            <a href = "{{ url_for('editchapter', chapter_id=chapter.Id) }} " class="btn bg-white rounded-3 border shadow-sm">Edit Chapter</a>

                                            <a href = "{{ url_for('deletechapter', chapter_id=chapter.Id) }} " class="btn bg-dark text-white rounded-3 border shadow-sm">Delete Chapter</a>
                                
                                    {% endif %}
                                {% endfor %}

                            </div>

                            <a href="{{ url_for('createchapter', subject_id=subject.Id) }}" class="btn bg-white rounded-3 border shadow-sm my-3">Create Chapter</a>

                            <a href = "{{ url_for('editsubject', subject_id=subject.Id) }}" class="btn bg-white rounded-3 border shadow-sm">Edit Subject</a>

                            <a href= "{{ url_for('deletesubject', subject_id=subject.Id)}}" class="btn bg-dark text-white rounded-3 border shadow-sm my-3">Delete Subject</a>
                        
                        </div> 
                    </div>
                {% endfor %}
            {% endif %}

            <div class="text-center">
                    
            <a href="{{ url_for('createsubject') }}" class="btn bg-dark text-white rounded-3 border shadow-sm">Create Subject</a>
        </div>
        </ul>

    </div>
        </div>  
    </div>
    {% endblock %}
</body>