<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new question</title>
    <style>






    </style>
</head>
<body>
    
    <h1>QuizMaster</h1>
    <h2>Create New Question</h2>
    
    <form method="POST">
    
        <label for="question">Question</label><br>
        <input type="text" id = "question" name = "question" required ><br><br>

        <label for="options">Options</label><br>
        <input type="text" id = "option1" name = "options" required ><br><br>


        <label for="answer">Answer</label><br>
        <input type="text" id = "answer" name = "answer" required ><br><br>

        <button type="submit">Submit</button>

    </form>
    
</body>
</html>