{% extends "ADMINUpsetting.html" %}
<body>
    {% block content %}

    <div class="container w-50 bg-light border my-4 rounded-3 shadow-sm p-3 d-flex justify-content-center">

        <div class="row">
    
            <div class="col my-3">
   

        <h2 class="text-center">Quiz - {{ quiz_id }}</h2>

        <table class="table table-bordered table-striped table-hover table-responsive">
            <tr>
                <th class="text-center">Question</th>
                <th class="text-center">Options</th>
                <th class="text-center">Answer</th>

            </tr>
            {% if questions %}
                {% for q in questions %}
                    <tr>
                     <div class="my-3">  <td class="text-center">{{ q.Question }}</td></div>
                     <div class="my-3">    <td class="text-center">{{ q.Options }}</td></div>
                        <td class="text-center">{{ q.Answer }}</td>
                        <td> <a href="{{ url_for('editques', ques_id = q.Id) }} "class="btn bg-white rounded-3 border shadow-sm">Edit</a>    </td>
                        <td> <a href="{{ url_for('deleteques', ques_id = q.Id) }}" class="btn bg-dark text-white rounded-3 border shadow-sm">Delete</a> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <div class="my-3 text-center">
        <a href = "{{ url_for('createques', quiz_id = quiz_id)}}" class="btn bg-dark text-white rounded-3 border shadow-sm">Create Question</a>
    </div>
        </div>
        </div>
        </div>

    {% endblock %}
</body>
</html>