<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>










    </style>
</head>
<body>
    <h1>QuizMaster</h1>
    {% block content %}
        <h2>Quiz - {{ quiz_id }}</h2>

        <table>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Options</th>
            </tr>
            {% if questions %}
                {% for q in questions %}
                    <tr>
                        <td>{{ q.Question }}</td>
                        <td>{{ q.Options }}</td>
                        <td>{{ q.Answer }}</td>
                        <td> <a href="{{ url_for('editques', ques_id = q.Id) }}">Edit</a>    </td>
                        <td> <a href="{{ url_for('deleteques', ques_id = q.Id) }}">Delete</a> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <a href = "{{ url_for('createques', quiz_id = quiz_id)}}">Create Question</a>

    {% endblock %}
</body>
</html>