{% extends "UserUpsetting.html" %}

<body>
    {% block content %}
    
    {% if subjects %}
        {% for subject in subjects %}
        <div class="container w-50 bg-light border-bottom my-4 rounded-3 shadow-sm p-3 ">

            <div class="row">
        
                <div class="col">

            <h3 class="text-center">{{ subject.Name }}</h3>
            <p class="text-center"> {{ subject.Description }}</p>

            {% if chapters %}
                {% for chapter in chapters %}

                    {% if subject.Id == chapter.Subject_id %}

                    <h4>{{ chapter.Name }}</h4>
                    <p> {{ chapter.Description }}</p>


                        {% if quiz %}

                        
                            {% for q in quiz %}

                                {% if chapter.Id == q.Chapter_id %}

                                <table class="table table-bordered table-striped table-hover text-center mt-3">
                                    <tr>
                                        <th>Date of Quiz</th>
                                        <th>Time Duration</th>
                                    </tr>

                                    <tr>
                                        <td> {{ q.dateofquiz }} </td>
                                        <td> {{ q.timeduration }} </td>
                                        <td><a href="{{ url_for('viewquiz', quiz_id=q.Id )}}" class="btn bg-white rounded-3 border shadow-sm">View</a></td>

                                            {% if scores %}
                                                <td>Attended</td>
                                            {% else %}
                                                <td> <a href="{{ url_for('quizattempt', quiz_id=q.Id )}}" class="btn bg-dark text-white rounded-3 border shadow-sm">Attend</a></td> 
                                            {% endif %}

                                    </tr>
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                    </table>

                    {% endif %}

                {% endfor %}
            {% endif %}

            </div>

            </div>
        </div>

        {% endfor %}
    {% endif %}

    {% endblock %}

</body>
</html>