<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>QuizMaster</h1>

    <h2>View Quiz</h2>

    {% if quiz %}

        <p>Id : {{ quiz.Id }}</p>
        <p>Subject: {{ quiz.Chapter.Subject.Name  }}</p>
        <P>Chapter : {{ quiz.Chapter.Name  }}</P>
        <p>Number of questions : {{ q }}</p>
        <p>Scheduled Date : {{ quiz.dateofquiz  }}</p>
        <p>Duration (hh:mm) : {{ quiz.timeduration  }}</p>

    {% endif %}

</body>
</html>